@{
    ViewData["Title"] = "Home Page";
}
<div class="row">

    <h1 class="text-center mt-4">Hubby Hub!</h1>
    <div class="col-sm-6">
        <partial name="RegisterPartial"></partial>
    </div>
    <div class="col-sm-6">
         <partial name="LoginPartial"></partial>
    </div>
</div>